@import "tailwindcss";

@import 'tailwind-scrollbar-hide/v4';
:root {
 font-size: 10px;
 
 
 
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
  }
  